@font-face {
  font-family: "HouseSlant";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/HouseSlant.eot") format("embedded-opentype"), url("/fonts/HouseSlant.woff") format("woff");
}

body {
  font-family: Montserrat;
  background: #EE554F;
  color: white;
  text-align: center;
  overflow: hidden;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "HouseSlant";
}

h1 {
  font-size: 5em;
  line-height: 0.8;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  text-shadow: 5px 5px 0 rgba(0,0,0,.1);
}

.firstline {
  display: block;
  opacity: 0;
  animation: .3s .3s show forwards;
}

.secondline {
  font-size: 1.8em;
  display: block;
  opacity: 0;
  animation: .3s .4s show forwards;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

input[type="file"] {
  display: none;
}

.input {
  font-size: 2em;
  padding: 20px 35px;
  color: black;
  background: white;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  box-shadow: 6px 6px 0 rgba(0,0,0,.2);
  cursor: pointer;
  opacity: 0;
  animation: .3s .7s show forwards;
  margin-bottom: 10px;
}
.input:hover {
  background: #f5f5f5;
}

.input-hint {
  color: rgba(0, 0, 0, 0.4);
  max-width: 220px;
  margin: auto;
  opacity: 0;
  animation: .3s .8s show forwards;
}
.input-hint strong {
  text-decoration: underline;
}

.processing {
  width: 60%;
  margin: auto;
  background: white;
  height: 4px;
  margin-top: 20px;
}

@keyframes loader-animation {
  0% {
    transform: translate(-50%, 0) scaleX(0.01) translate(50%, 0);
  }
  40% {
    transform: scaleX(0.5);
  }
  100% {
    transform: translate(50%, 0) scaleX(0.01) translate(-50%, 0);
  }
}
@-webkit-keyframes loader-animation {
  0% {
    -webkit-transform: translate(-50%, 0) scaleX(0.01) translate(50%, 0);
  }
  40% {
    -webkit-transform: scaleX(0.5);
  }
  100% {
    -webkit-transform: translate(50%, 0) scaleX(0.01) translate(-50%, 0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


.loader {
  height: 5px;
  width: 60%;
  margin: 20px auto;
}

.loader::before {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  transform: scaleX(0);
  animation: .6s loader-animation infinite;
  transition: .2s opacity;
  -webkit-transform: scaleX(0);
  -webkit-animation: .6s loader-animation infinite;
  -webkit-transition: .2s opacity;
  opacity: 0;
}

.loader.loader--load::before {
  opacity: 1;
}
